@font-face {
	font-family: 'Arial MT';
	font-style: normal;
	font-weight: normal;
	src: local('Arial MT'), url('../font/ARIALMTMEDIUM.woff') format('woff');
}

@font-face {
    font-family: 'Socialico';
    src:url('../font/Socialico.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

header {
	background-color: #445162;
	padding: 50px;
	padding-bottom: 51px;
}

header .product-container {
	width: 50%;
}

header .img-container {
	float: right;
}

header ul, h1 {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 20px;
	font-weight: 400;	
}

header ul li {
	line-height: 32px;
	list-style-type: none;
	padding-left: 35px;
	background-image: url('../img/check_icon.png');
	background-position: left center;
	background-repeat: no-repeat;
}

header h1 {
	font-size: 60px;
	line-height: 44px;
}

header ul {
	margin-top: 51px;
}

footer {
	background-color: #445162;
	padding: 49px 250px 53px;
}

footer h2 {
	height: 30px;
	text-align: center;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
}

footer .socials-container {
	float: right;
	color: #ffffff;
	font-family: "Arial MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	box-sizing: border-box;
	width: 50%;
	padding-left: 50px;
	padding-top: 31px;
}

footer .socials-container li {
	list-style-type: none;
	list-style-position: inside;
}


footer .socials-container li.skype {
	list-style-image: url(../img/skype_icon.png)
}

footer .socials-container li.icq {
	list-style-image: url(../img/icq_icon.png)
}

footer .socials-container li.email {
	list-style-image: url(../img/email_icon.png)
}


footer .socials-container li.phone {
	list-style-image: url(../img/phone_icon.png)
}

footer .socials-buttons-block {
	height: 42px;
	margin-top: 37px;
	
	font-family: "Socialico";
	font-size: 60px;
	font-weight: 400;
	line-height: 24px;	
	letter-spacing: 1.5px;
}

footer .feedback-container {
	margin-top: 21px;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
}

footer input, textarea {
	width: 100%;
	margin-top: 11px;
	border-radius: 5px;
	text-align: left;
	box-sizing: border-box;
}

footer input {
	padding-left: 10px;
	margin-bottom: 11px;
	height: 40px;
}

footer input:first {
	margin-top: 0px;
}

footer textarea {
	height: 170px;
	padding-left: 10px;
	padding-top: 13px;
}

footer input[type=button] {
	height: 40px;
	width: 140px;
	text-align: center;
	padding: 0px;
}


